<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kurso 12</title>
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
  <div id="root"></div>
</body>
<script>
 const app = Vue.createApp({
    data(){
      return {
        listArray:['dell','lee','teacher'],
        listObject:{
          "firstName":"dell",
          "lastName":"lee",
          "job":'teacher'
        }
      }
    },
    methods:{
       handleClick(){
          // console.log("click", this)
          this.listArray.reverse()
       }
    },
    template:`
    <div> 
     <div v-for="(item) in listArray">{{ item }}</div>
     <div v-for="(row) in listObject">{{ row }}</div>
     <button @click="handleClick">click </button>
    </div>
    `
  })

  const vm = app.mount('#root')
</script>
</html>